{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center"><b>Tasks for {{ user.first_name }}</b><br>
</h1>

<h2 align="center">Welcome to your tasks for the day!</h2>

<p align="right">Tasks completed: {{ user.total_points }}</p>  <!--change to add points when fixed-->
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">

    <div class="note-container">
      <div class="note-data">{{ note.data }}</div>

      <div class="note-actions d-flex flex-row">
        <div class="note-complete">
          {% if note.complete %}
            <button class="btn btn-success" onClick="addPoints({{ note.id }})">COMPLETE</button>
          {% else %}
            <button class="btn btn-danger" onClick="addPoints({{ note.id }})">INCOMPLETE</button>
          {% endif %}
        </div>

        <div class="note-close">
          <button type="button" class="btn btn-secondary" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

    </div>

  </li>
  {% endfor %}
</ul>

<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Task</button>
  </div>
</form>


<!-- trying dont kill me -->
<!-- entire quote container -->
     <div align="center" style="margin: 30px; padding: 10px" mid="quote-container">
         <!--quote container-->
        <div id="quote-l">
            <!--quote-->
            <blockquote id="quote-line">"Change your life today. Don't gamble on the future, act now, without delay."</blockquote>
        </div>
                 <!--author container-->
        <div  id="quote-a">
            <!--author-->
            <p id="quote-line" id="quote-author">Simone de Beauvoir</p>
        </div>
        <!--gen quote button-->
        <a style="color: white;" onClick="genQuote();" class="waves-light btn btn-primary btn-sm quote-b">Generate a new Quote</a>
    </div>

<!--weather-->
    <div class="weather">
    <a class="weatherwidget-io" href="https://forecast7.com/en/53d54n113d49/edmonton/" data-label_1="EDMONTON" data-icons="Climacons Animated" data-days="3" data-theme="pure" data-shadow="rgba(151, 140, 140, 0.05)" data-accent="rgba(241, 28, 28, 0.02)" data-textcolor="#EF9A9A" data-highcolor="#EF9A9A" data-lowcolor="#EF9A9A" data-snowcolor="#000000" ></a>
    </div>
{% endblock %}
