{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">

    <div style="float:left;">{{ note.data }}</div>

    <div class="info-text">Points: {{ note.points }} // Complete: {{ note.complete }}</div>

    {% if note.complete %}
      <input type="checkbox" class="note-complete" onClick="deleteNote({{ note.id }})">  <!--change this to completed with points -->
    {% else %}
      <input type="checkbox" class="note-not-complete" onClick="addPoints({{ note.id }})">  <!--change this to completed with points -->
    {% endif %}

    <button type="button" class="close" onClick="deleteNote({{ note.id }})">

    <span aria-hidden="true">&times;</span>

    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
