.info-text {
    color: gray;
    text-align: right;
    font-size: 12px;
}

.note-container div {
    justify-content: end;
}

.note-data div {
    width: 200px;
    height: 100px;
    /* flex-grow: 6; */
}

.note-complete div {
    width: 100px;
    height: 100px;
    /* flex-grow: 1; */
}

.note-close div {
    width: 100px;
    height: 100px;
    /* flex-grow: 1; */
}